#kaocha/v1
 {:reporter [kaocha.report/documentation]
  :plugins  [:kaocha.plugin/cloverage]
  :cloverage/opts {:output "target/coverage",
                   :summary? true,
                   :html? true}}
